<img class="wave" src="../../assets/login/wave.png" xmlns="http://www.w3.org/1999/html" alt="Wave">
<link rel="stylesheet"
      href=
        "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet"
      href=
        "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity=
        "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<div class="container">
  <!--
    <div class="img">
      <img src="../../assets/login/books.svg">

    </div>
    -->
  <div class="login-content">
    <div class="form" (keyup.enter)="login()">
      <a href="http://www.htl-steyr.ac.at/">
        <img src="../../assets/login/htlLogo.svg" alt="Logo">
      </a>
      <h1 class="title">Willkommen zur Schulbuchaktion</h1>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>

        <div class="div">
          <input [(ngModel)]="email" type="text" class="input" placeholder="Email">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input [(ngModel)]="password" [type]="hidePassword ? 'password' : 'text'" id="password" class="input" placeholder="Password">
          <i class="bi" [ngClass]="hidePassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>

        </div>
      </div>
      <div class="div" >
        <button (click)="login()" >Login</button>
      </div>
    </div>
  </div>
  <a href="https://www.instagram.com/htlsteyr/" target="_blank">
    <img class="bottom-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsepelFNMlHsFqJEPHj_zCkEttKbsIl-Mir6gac4c1eQ&s" alt="Insta">
  </a>
  <a href="https://www.facebook.com/htlsteyr" target="_blank">
    <img class="bottom-image2" src="https://freepngimg.com/save/77863-irina-shayk-icons-media-youtube-computer-facebook/1180x1180" alt="Facebook">
  </a>
  <a href="https://www.twitter.com/htlsteyr" target="_blank">
    <img class="bottom-image3" src="https://static.vecteezy.com/system/resources/previews/027/714/631/non_2x/sankt-petersburg-russia-24-08-2023-twitter-new-logo-twitter-icons-twitter-x-logo-free-png.png" alt="Twitter">
  </a>
  <a href="https://www.youtube.com/channel/UCsSUFAGKTpQt5vqkaEu1Xtg/videos" target="_blank">
    <img class="bottom-image4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU97l0uHBYZbwERJGej3JBjR_uCWH7lfnXiqMe8sA63w&s/system/resources/previews/027/714/631/non_2x/sankt-petersburg-russia-24-08-2023-twitter-new-logo-twitter-icons-twitter-x-logo-free-png.png" alt="Twitter">
  </a>
  <a href="https://neilo.webuntis.com/WebUntis/?school=htl-steyr#/basic/login" target="_blank">
    <img class="bottom-image5" src="https://cdn-icons-png.freepik.com/512/8818/8818517.png" alt="Webuntis">
  </a>




</div>




