<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<img class="wave" src="../../assets/login/wave.png" xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div class="img">
    <img src="../../assets/login/books.svg">
  </div>
  <div class="login-content">
    <div class="form" (keyup.enter)="login()">
      <img src="../../assets/login/htlLogo.svg">
      <h1 class="title">Willkommen</h1>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>

        <div class="div">
          <input [(ngModel)]="email" type="text" class="input" placeholder="Email">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input [(ngModel)]="password" type="password" class="input" placeholder="Password">
        </div>
      </div>
      <div class="div" align="center">
        <button (click)="login()" >Login</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
