<h1>Klassenüberischt</h1>

<table class="table table-striped" style="width:100%">
  <thead class="thead-dark">
  <tr>
    <th>JG
      <input (input)="filterItems()" [(ngModel)]="searchTermYear" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Name
      <input (input)="filterItems()" [(ngModel)]="searchTermName" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Schüler
      <input (input)="filterItems()" [(ngModel)]="searchTermStudentAmount" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Repetent
      <input (input)="filterItems()" [(ngModel)]="searchTermRepetent" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Budget
      <input (input)="filterItems()" [(ngModel)]="searchTermBudget" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>verwendetes Budget
      <input (input)="filterItems()" [(ngModel)]="searchTermUsedBudget" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th> Bearbeiten</th>
    <th> Löschen</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let item of filteredItems">
    <td>{{ item.year }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.studentAmount}}</td>
    <td>{{ item.repAmount}}</td>
    <td>{{ item.budget}}</td>
    <td>{{ item.usedBudget}}</td>
  </tr>
  </tbody>

</table>
