<script src="../model/schoolclass.ts"></script><h1>Geldübersicht</h1>

<table class="table table-striped" style="width:100%">
  <thead class="thead-dark">
  <tr>
    <th >Jahr</th>
    <th>Preis inklusive Ebook</th>
    <th>Preis Ebook</th>
    <th>Preis Ebook Plus</th>
    <th>Titel</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of pagedItems">
    <td>{{ item.year }}</td>
    <td>{{ item.priceInclusiveEbook }}</td>
    <td>{{ item.priceEbook }}</td>
    <td>{{ item.priceEbookPlus }}</td>
    <td>{{ item.book.shortTitle }}</td>
  </tr>


  </tbody>
</table>
<div class="navigation">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" [class.active]="true">
        <a class="page-link">{{ currentPage }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === maxPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
