<script src="../model/schoolclass.ts"></script><h1>Geldübersicht</h1>

<table class="table table-striped" style="width:100%">
  <thead class="thead-dark">
  <tr>
    <th >Jahr</th>
    <th>Preis inklusive Ebook</th>
    <th>Preis Ebook</th>
    <th>Preis Ebook Plus</th>
    <th>Titel</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.year }}</td>
    <td>{{ item.priceInclusiveEbook }}</td>
    <td>{{ item.priceEbook }}</td>
    <td>{{ item.priceEbookPlus }}</td>
    <td>{{ item.book.shortTitle }}</td>
  </tr>
  </tbody>
</table>
