.table-striped tbody tr:nth-of-type(odd) {
  background-color: #A5C0DE;
  color: black;

}
tr{
margin-bottom: 10px}
td{
  padding: 4px;
}
button {
  background-color: grey; /* Grey background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px 20px; /* Smaller padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons inline */
  font-size: 16px; /* Change text size */
  cursor: pointer; /* Pointer/hand icon */
  transition-duration: 0.4s; /* Transition effects */
  border-radius: 12px; /* Rounded corners */
  margin: 0 10px; /* Add horizontal margin */
  width: 50px; /* Fixed width */
  box-sizing: border-box;
  user-select: none; /* Prevent text selection */
  outline: none; /* Remove outline */





}

input[type="text"] {
  width: 40%;
  padding: 5px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: 0.5s;
  font-size: small;

}

button:hover {
  background-color: darkgrey; /* Dark grey background on hover */
}
span {
  display: inline-block;
  margin: 0 10px; /* Add horizontal margin */
  width: 50px; /* Fixed width */
  text-align: center;


}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation {
  position: fixed; /* Fixed position */
  top: 50%; /* Position from the top */
  bottom: 0; /* Position from the bottom */
  left: 0; /* Position from the left */
  right: 0; /* Position from the right */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-link.btn {
  background-color: #808080; /* Grey background */
  color: #ffffff; /* White text */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  transition: background-color 0.3s ease; /* Transition effect */
  margin: 0 10px; /* Add horizontal margin */
}

.page-link.btn:hover {
  background-color: #606060; /* Darker grey on hover */
}

.page-link.btn:disabled {
  background-color: #cccccc; /* Light grey background for disabled button */
  cursor: not-allowed; /* No cursor on hover */
}
