<h1>Geldübersicht</h1>

<table class="table table-striped" style="width:100%">
  <thead class="thead-dark">
  <tr>
    <th>Jahr
      <input type="text" (input)="filterItems()" [(ngModel)]="searchTermYear" placeholder="Search" style="width: 50%; margin-top: 10px;"
             >
    </th>
    <th>Preis inklusive Ebook
      <input (input)="filterItems()" [(ngModel)]="searchTermPriceInclusiveEbook" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Preis Ebook
      <input (input)="filterItems()" [(ngModel)]="searchTermPriceEbook" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Preis Ebook Plus
      <input (input)="filterItems()" [(ngModel)]="searchTermPriceEbookPlus" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
    <th>Titel
      <input (input)="filterItems()" [(ngModel)]="searchTermTitle" placeholder="Search" style="width: 50%; margin-top: 10px;"
             type="text">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of pagedItems">
    <td>{{ item.year }}</td>
    <td>{{ item.priceInclusiveEbook }}</td>
    <td>{{ item.priceEbook }}</td>
    <td>{{ item.priceEbookPlus }}</td>
    <td>{{ item.book.shortTitle }}</td>
    <td>
      <button (click)="deleteItem(item)">Delete</button>
    </td>
  </tr>

  <div class="pagination-container">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"> <</button>
    <span>{{currentPage}}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === items.length / pageSize"> ></button>
  </div>
  </tbody>
</table>
