.table-striped tbody tr:nth-of-type(odd) {
  background-color: #A5C0DE;
  color: black;

}
tr{
margin-bottom: 10px}
td{
  padding: 4px;
}
button {
  background-color: grey; /* Grey background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px 20px; /* Smaller padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons inline */
  font-size: 16px; /* Change text size */
  cursor: pointer; /* Pointer/hand icon */
  transition-duration: 0.4s; /* Transition effects */
  border-radius: 12px; /* Rounded corners */
  margin: 0 10px; /* Add horizontal margin */
  width: 50px; /* Fixed width */
  box-sizing: border-box;
  user-select: none; /* Prevent text selection */
  outline: none; /* Remove outline */





}

button:hover {
  background-color: darkgrey; /* Dark grey background on hover */
}
span {
  display: inline-block;
  margin: 0 10px; /* Add horizontal margin */
  width: 50px; /* Fixed width */
  text-align: center;


}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
