.table-striped tbody tr:nth-of-type(odd) {
  background-color: #A5C0DE;
  color: black;

}
tr{
margin-bottom: 10px}
td{
  padding: 4px;
}
.navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.page-item {
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.page-item.active,
.page-item:hover {
  background-color: #ddd;
}

.page-link {
  text-decoration: none;
  color: black;
}
